* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: auto !important;
  min-height: 100% !important;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;

  /* Зміни білий на темний, щоб перехід був безболісним */
  background-color: #000000;
  color: #333333;

  overflow: visible !important;
  -webkit-overflow-scrolling: touch !important;
}

/* Звертаємося до єдиного <main>, який лежить у layout.js */
main {
  width: 100%;
  height: auto !important;
  overflow: visible !important;
  max-width: 100vw;
  /* 🔥 Ховаємо горизонтальний скрол безпечно, без втрати інерції */
  overflow-x: clip;
}

a {
  color: inherit;
  text-decoration: none;
}

.is-scrolling * {
  pointer-events: none !important;
}
